.Navbar {
    display: flex;
    height: 80px;
}

.searchLabel {
    position: relative;
    display: inline-block;
    width: 100%;
}

.searchBox {
    height: 36px;
    border: 2px solid #d1d5db;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    padding: 0 2rem 0 1rem;
    font-weight: bold;
    color: #d1d5db;
    width: 100%;
}

.searchBox::placeholder {
    color: white;
}

.searchIcon {
    position: absolute;
    cursor: pointer;
    top: 0.4rem;
    right: 0.5rem;
    width: 16px;
    height: 16px;
    filter: invert();
}

@media screen and (min-width: 600px) {
    .searchLabel {
        width: 525px;
    }
}
